<template name="MasterLayout">
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">New York Bee Sanctuary Directory</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="{{active '/people'}}">{{#linkTo route='people'}}People{{/linkTo}}</li>
            <li class="{{active '/committees'}}">{{#linkTo route='committees'}}Committees{{/linkTo}}</li>
            {{#if isInRole 'admin,members-manager'}}
            <li class="{{active '/add/people'}}">{{#linkTo route='people.add'}}+New Member{{/linkTo}}</li>
            <li class="{{active '/add/committees'}}">{{#linkTo route='committees.add'}}+New Committee{{/linkTo}}</li>
            {{/if}}
            <li>
            	<!-- Put this somewhere {{currentUser.profile.name}} -->
              {{#if currentUser}}
                <a data-logout>{{currentUser.profile.name}} - Logout</a>
              {{else}}
                {{#if loggingIn}}
                  Logging in
                {{else}}
                  <a data-login>Login</a>
                {{/if}}
              {{/if}}
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {{> yield}}
    </div><!-- /.container -->
  </template>





