<template name="CommitteeDetail">
	{{#if get 'isCreating'}}
		
			<div class="panel panel-default">
				{{#autoForm collection="Committees" id="insertCommitteeForm" type="insert"}}
					<fieldset>
						<div class="panel-heading">
								{{>afQuickField name='name'}}
						</div>
						<div class="panel-body">
							{{>afQuickField name='description'}}
						</div>
					</fieldset>
					<!-- <div class="flex-container">
						{{#each committee_members _id}}
							<div class="vertical-flex-container committee-member">
							<div>
								<img src="{{avatarURL}}" class="img-circle thumb"/>
							</div>
							<div>
								{{name}}
							</div>
							<span class="badge">{{chair.in_committee_role}}</span>
						</div>
						{{/each}}
						
					</div> -->
					<button type="submit" class="btn btn-primary">Create Committee</button>
					{{#linkTo route="committees"}}
			        	Cancel
		        	{{/linkTo}}
				{{/autoForm}}
								       
			</div>
		
	{{else}}
		{{#if get 'isEditing' }}
			<div class="panel panel-default">
				{{#autoForm collection="Committees" id="updateCommitteeForm" type="update" doc=this}}
				<fieldset>
					<div class="panel-heading">
							{{>afQuickField name='name'}}
					</div>
					<div class="panel-body">
						{{>afQuickField name='description'}}
					</div>
				</fieldset>
			<!-- <div class="flex-container">
				{{#each committee_members _id}}
				<div class="vertical-flex-container committee-member">
					<div>
						<img src="{{avatarURL}}" class="img-circle thumb"/>
					</div>
					<div>
						{{name}}
					</div>
					<span class="badge">{{chair.in_committee_role}}</span>
				</div>
				{{/each}}
			</div> -->
				<button type="submit" class="btn btn-primary">Save Changes</button>
		        {{#linkTo route="committees.detail"}}
		        	Cancel
	        	{{/linkTo}}
	        	{{/autoForm}}
			</div>
		{{else}}
	  
		<div class="panel panel-default">
			<div class="panel-heading">
					{{name}}
					{{#if isInRole 'admin, committees-manager'}} - 
								{{#linkTo route='committees.edit'}}
								Edit
								{{/linkTo}}
								- <a data-remove>
								Remove
								</a>
								{{/if}}

			</div>
			<div class="panel-body">
				{{description}}
			</div>
			<div class="flex-container">
				{{#each committee_members _id}}
					<div class="vertical-flex-container committee-member">
					<div>
						<img src="{{avatarURL}}" class="img-circle thumb"/>
					</div>
					<div>
						{{name}}
					</div>
					<span class="badge">{{chair.in_committee_role}}</span>
				</div>
				{{/each}}
				
			</div>

		</div>
		{{/if}}
	{{/if}}
</template>
