<template name="PeopleDetail">
	{{#if get 'isCreating'}}

		<div class="container-fluid">
			
				{{#autoForm collection="Members" id="insertMemberForm" type="insert"}}
		  		<div class="row">
		  			
		    		<div class="col-md-2 member_pic text-center"><img src="{{avatarURL}}" class="img-circle"/></div>

		    		<div class="col-md-10">
		    			
			    			<div class="panel panel-default">
				        		<div class="panel-heading member_name">
				        			
				        			{{>afQuickField name='name'}}
				        		</div>        
				        		<div class="panel-body">
						        	<div class="member_role">
						        		
						        		{{>afQuickField name='role'}}
						        	</div>
						        	<div class="member_department">
						        		
						        		{{>afQuickField name='department'}}
						        	</div>
						            <div class="member_phone">
						            	
						            	{{>afQuickField name='phone'}}
						            </div>
						            <div class="member_email">
						            	
						            	{{>afQuickField name='email'}}
						            </div>
							        <div class="member_location">
							        	{{>afQuickField name='location'}}
							        </div>
							        <br/>
							        <div class="member_description">
							        	{{>afQuickField name='description'}}
							        </div>
							        {{> afQuickField name="reportsTo" options=memberList}}
							        <button type="submit" class="btn btn-primary">Create Member</button>
							        {{#linkTo route="people"}}
							        	Cancel
						        	{{/linkTo}}
						    	</div>
						    </div>
						
				    </div>
				
				    

				</div>
							
			    <div class="row">
			    	<div class="col-md-10 col-md-offset-2">
				    	<div class="panel panel-default">
				    		<div class="panel-heading committee_name">Committees Membership</div>
							<ul id="committeeSelection" class="panel-body list-group">
						    	{{#each committees}}
									<li class="list-group-item">
										<h4 class="list-group-item-heading">{{name}}</h4>
										<span class="list-group-item-text"><input name="{{templateEncode name}}" type="checkbox" value="{{name}}" {{isMember}} > Member</span>
										<input name="{{templateEncode name}}_committee_role" type="text" value="{{chair.in_committee_role}}" class="form-control" Placeholder="Role In Committee" /></li>
						    	{{/each}}
						    </ul>
						</div>
					</div>
				</div>
	{{/autoForm}}
				
		</div>
	{{else}}
		{{#if get 'isEditing' }}
			

				<div class="container-fluid">
						{{#autoForm collection="Members" id="updateMemberForm" type="update" doc=this}}
				  		<div class="row">

				    		<div class="col-md-2 member_pic text-center"><img src="{{avatarURL}}" class="img-circle"/></div>

				    		<div class="col-md-10">
				    			
					    			<div class="panel panel-default">
						        		<div class="panel-heading member_name">
						        			{{#with shouldBeDisabled }}
						        				{{>afQuickField name='name' disabled=this }}
					        				{{/with}}
						        		</div>        
						        		<div class="panel-body">
								        	<div class="member_role">
								        		{{#with shouldBeDisabled }}
							        				{{>afQuickField name='role' disabled=this }}
						        				{{/with}}
								        	</div>
								        	<div class="member_department">
								        		{{#with shouldBeDisabled }}
							        				{{>afQuickField name='department' disabled=this }}
						        				{{/with}}
								        	</div>
								            <div class="member_phone">
								            	{{>afQuickField name='phone'}}
								            </div>
								            <div class="member_email">
								            	{{#with shouldBeDisabled }}
							        				{{>afQuickField name='email' disabled=this }}
						        				{{/with}}
								            </div>
									        <div class="member_location"><i class="fa fa-map-marker"></i> 
									        	{{>afQuickField name='location'}}
									        </div>
									        <br/>
									        <div class="member_description">
									        	{{>afQuickField name='description'}}
									        </div>
								             	{{#with shouldBeDisabled }}
									         		{{> afQuickField name="reportsTo" disabled=this options=memberList}}
								         		{{/with}}
									        <button type="submit" class="btn btn-primary">Update Member</button>
									        {{#linkTo route="people"}}
									        	Cancel
								        	{{/linkTo}}
								    	</div>
								    </div>
								
						    </div>
						    
						</div>
					    <div class="row">
					    	<div class="col-md-10 col-md-offset-2">
						    	<div class="panel panel-default">
						    		<div class="panel-heading committee_name">Committees Membership</div>
									<ul class="panel-body list-group">
								    	{{#each committees}}
											<li class="list-group-item">
												<h4 class="list-group-item-heading">{{name}}</h4>
												<span class="list-group-item-text"><input name="{{templateEncode name}}" type="checkbox" value="" {{isMember}} > Member</span>
												
						        				<input name="{{templateEncode name}}_committee_role" type="text" value="{{chair.in_committee_role}}" class="form-control" Placeholder="Role In Committee" {{disabled}} />
						        				
						        			</li>
								    	{{/each}}
								    </ul>
								</div>
							</div>
						</div>
						{{/autoForm}}
				</div>	

		{{else}}
		<div class="container-fluid">
		  	<div class="row">

	    		<div class="col-md-2 member_pic text-center"><img src="{{avatarURL}}" class="img-circle"/></div>
	    		<div class="col-md-10">
	    			<div class="panel panel-default">
		        		<div class="panel-heading member_name">{{name}}</div>        
		        		<div class="panel-body">
				        	<div class="member_role">{{role}}</div>
				        	<div class="member_department">{{department}}</div>
				            <div class="member_phone">{{phone}}</div>
				            <div class="member_email">{{email}}</div>
					        <div class="member_location"><i class="fa fa-map-marker"></i> {{location}}</div>
					        <br/>
					        <div class="member_description">{{description}}</div>
					        {{#if isInRole 'admin,members-manager'}}
						        {{#linkTo route='people.edit'}}
						        	Edit
						        {{/linkTo}}
						        <a data-remove>Remove</a>
					        {{else}}
						        {{#if isMe email}}
							        {{#linkTo route='people.edit'}}
							        	Edit
							        {{/linkTo}}
						        {{/if}}
					        {{/if}}

				    	</div>
				    </div>
			    </div>
			</div>
		    <div class="row">
		    	<div class="col-md-2 text-center">
		    		Reports to
		    		{{#each report}}
			    		{{#linkTo route='people.detail'}}
				    		<br /><img src="{{avatarURL}}" class="img-circle thumb" />
				    		<br />
				    		<span class="badge smaller">{{name}}</span>
			    		{{/linkTo}}
		    		{{/each}}
		    	</div>
		    	<div class="col-md-10">
			    	<div class="panel panel-default">
			    		<div class="panel-heading committee_name">Committees Membership</div>
						<ul class="panel-body list-group">
					    	{{#each member_committees _id}}
								<li class="list-group-item">{{name}}<span class="badge">{{chair.in_committee_role}}</span></li>
					    	{{/each}}
					    </ul>
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	{{/if}}
</template>
