/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
/* CSS declarations go here */
body {
  padding-top: 60px;
  font-family: Helvetica;
}

a {
  cursor: pointer;
}

.centered-flex-container{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.flex-container{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-item{
  -webkit-flex-basis: auto;
  flex-basis: auto;
  flex-grow: 2;
}

.vertical-flex-container{
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
/* line 1, ../tests/sass/components/_input-box.scss */
.input-box {
  height: 100%;
}

/* line 6, ../tests/sass/components/_input-box.scss */
.input-box_text {
  font-size: .95rem;
  width: 100%;
  
  margin-bottom: auto;
  line-height: 1.2rem;
  border: 2px solid #e0e0e0;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #3d3c40;
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  bottom: 0;
  /*min-height: 41px !important;*/
  padding: 9px 5px 9px 8px;
}

.member_name, .committee_name{
	font-size: 20px;
	color: #337ab7;
}

.member_pic{
  flex-grow: 1; 
}

.member_pic img{
  width: 150px;
}

.thumb{
  width: 70px;
  height: 70px;
}

.committee-member{
  margin: 10px;
  font-size: 12px;
  text-align: center;
}

.smaller{
  font-size: 10px;
}

